<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />

<div class="container">
<div class="row">
		<div class="col-12">
			<!-- Page title -->
			<div class="my-5">
				<h3>My Profile</h3>
				<hr>
			</div>
			<!-- Form START -->
			<form class="file-upload" method="post" action="/settings/profile">
				<div class="row mb-5 gx-5">
					<!-- Contact detail -->
					<div class="col-xxl-8 mb-5 mb-xxl-0">
						<div class="bg-secondary-soft px-4 py-5 rounded">
							<div class="row g-3">
								<h4 class="mb-4 mt-0">Personal detail</h4>
								<!-- First Name -->
								<div class="col-md-6">
									<label class="form-label">First Name *</label>
									<input type="text" class="form-control" placeholder="" aria-label="First name" name="firstName" value="{{user.firstName}}">
								</div>
								<!-- Last name -->
								<div class="col-md-6">
									<label class="form-label">Last Name *</label>
									<input type="text" class="form-control" placeholder="" aria-label="Last name" name= "lastName"value="{{user.lastName}}">
								</div>
							
								<!-- Email -->
								<div class="col-md-6">
									<label for="inputEmail4" class="form-label">Email *</label>
									<input type="email" class="form-control" id="inputEmail4" name="email" value="{{user.email}}">
								</div>

								{{!-- <h4 class="mb-4 mt-0">Change your password</h4>
								<!-- First Name -->
								<div class="col-md-6">
									<label class="form-label">Current Password *</label>
									<input type="text" class="form-control" placeholder="" aria-label="Curreent Password" name="firstName" value="{{user.currentPassword}}">
								</div>
								<!-- Last name -->
								<div class="col-md-6">
									<label class="form-label">New Password *</label>
									<input type="text" class="form-control" placeholder="" aria-label="New Password" name= "lastName"value="{{user.newPassword}}">
								</div>
							
								<!-- Email -->
								<div class="col-md-6">
									<label for="inputEmail4" class="form-label">Confirm Password *</label>
									<input type="text" class="form-control" id="inputEmail4" name="Confirm Password" value="{{user.confirmPassword}}">
								</div> --}}
								
							</div> <!-- Row END -->
						</div>
					</div>
					<button type="button" class="btn btn-danger btn-lg">Delete profile</button>
					<button type="submit" class="btn btn-primary btn-lg">Update profile</button>

					  <script>
							function myFunction() {
  							alert("You have successfully updated your profile!");
							}
							</script>
				</div>
			</form> 
			<!-- Form END -->
		</div>
	</div>
	</div>