<h1>Hello {{user.firstName}},</h1>

<h2 align="center">Welcome to your personal space</h2>

<h3>You will find all your orders here</h3>

<ol>
    {{#each user.customFragranceOrdered}}
    
    <li>
        {{base}}
        {{top}}
       <h4> Quantity: {{quantity}}</h4>
    </li>
    
    <h4>Do you wish to cancel your order? <a href="/wizard/fragrance/{{_id}}/cancel">Click here</a></h4>
    
    

{{/each}}
</ol>

{{!-- <h3>Do you wish to update your profile? <a href="/settings/profile">Click here</a></h3> --}}


<h3>
<a class="submit" href="http://localhost:3000/wizard/custom-base">CREATE YOUR CUSTOM SCENT</a> 
</h3>